<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site de Fzg</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="grey lighten-5">
    <nav class="grey darken-3" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Site de Fzg</a>
        </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <div class="row">
                <h3>Titre</h3>
                <p class="light">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim diam vulputate ut pharetra. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Blandit massa enim nec dui. Ut etiam sit amet nisl purus in mollis nunc sed.
                </p>
            </div>
            <div class="row">
                <h4>Développements</h4>
                <p class="light">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim diam vulputate ut pharetra. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Blandit massa enim nec dui. Ut etiam sit amet nisl purus in mollis nunc sed.
                </p>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='cinegenda.jpg') }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title">Cinegenda</span>
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='Fragon - Logo.jpeg') }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title">Orion/Fragon</span>
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='fciv6.jpg') }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title">F-Civ6</span>
                                <p>little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Streams</h4>
                <p class="light">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim diam vulputate ut pharetra. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Blandit massa enim nec dui. Ut etiam sit amet nisl purus in mollis nunc sed.
                </p>
            </div>
            <div class="row">
                <h4>Frise</h4>
                <p class="light">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim diam vulputate ut pharetra. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Blandit massa enim nec dui. Ut etiam sit amet nisl purus in mollis nunc sed.
                </p>
            </div>
            <div class="row">
                <h4>Sénarios</h4>
                <p class="light">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim diam vulputate ut pharetra. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Blandit massa enim nec dui. Ut etiam sit amet nisl purus in mollis nunc sed.
                </p>
            </div>
            <br><br>
        </div>
    </div>

    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">A propos</h5>
                    <p>
                        Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Blandit massa enim nec dui. Ut etiam sit amet nisl purus in mollis nunc sed.
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Liens</h5>
                    <ul>
                        <li><a href="https://twitter.com/Furzorg">Twitter</a><br></li>
                        <li><a href="https://twitch.tv/furzorg">Twitch</a><br></li>
                        <li><a href="https://www.instagram.com/furzorg">Instagram</a><br></li>
                        <li><a href="https://www.tiktok.com/@furzorg">Tiktok</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Informations</h5>
                    <ul>
                        <li>Dernière actualisation le 19 janvier 2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            Made with <a class="blue-grey-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
</body>
</html>